*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  text-align: center;
  overflow: hidden;
}

#full-app-wrapper {
  display: flex;
  flex-direction: column;
  height: 100svh;
  width: 100%;
  overflow: hidden;
}

#visualizer-wrapper {
  display: flex;
  flex-direction: column;
  place-items: center;
  background-color: black;
  overflow: hidden;
  flex: auto;
}

#visualizer {
  /* height: 45rem; */
  width: 100%;
  flex: auto;
  position: relative;
  background-color: black;
}

#webcam-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
#webcam-wrapper video {
  object-fit: cover;
  /* width: 20rem; */
  padding: 1rem 3rem;
  max-width: 100%;

  /* UNCOMMENT FOR FULL WIDTH VIDEO */
  /* height: 100%;
  width: 100%; */
  /* flex: auto; */
}

#visual-controls {
  display: flex;
  width: 50%;
  /* margin: 0 auto; */
  flex: 0.25;
  position: absolute;
  top: 25%;
  left: 20%;
  height: 5rem;
  background-color: red;
}

.visual-controls-closed {
  opacity: 0;
  flex: 0;
  display: none;
}

#UI {
  display: grid;
  /* flex: auto; */
  padding: 0.5rem;
  gap: 2rem;
}

/* #sound-button {
} */

.volume-slider-open {
  position: absolute;
  top: 0;
  left: 0;
}
.volume-slider-closed,
.rate-select-closed {
  display: none;
}

#play-button {
  padding: 2rem;
  aspect-ratio: 1;
  border-radius: 20rem;
  svg {
    height: 2rem;
    width: 2rem;
  }
}

/* #spectrogram {
  position: absolute;
  top: 0;
} */

#wavesurfer_WRAPPER {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 1rem;
  /* place-content: center; */
  button {
    width: min-content !important;
    margin: 0 auto;
  }
}

:host .canvases {
  display: grid;
  gap: 2rem;
  flex: auto;
}

#controls-wrapper {
  display: flex;
  flex: 1;
  /* height: min-content; */
  align-items: center;
  justify-content: center;
  gap: 1rem;
  position: relative;
}

.rate-select-open {
  display: flex;
  position: absolute;
  top: 0;
  right: 1rem;
  z-index: 100;
}

#settings-and-info-buttons-wrapper {
  display: flex;
  /* height: min-content; */
  align-items: end;
  justify-content: center;
  gap: 1rem;
}
