*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  text-align: center;
  overflow: hidden;
}

#full-app-wrapper {
  display: flex;
  flex-direction: column;
  height: 100dvh;
  max-width: 100%;
  overflow: hidden;
  border: 1rem solid red;
}

#visualizer-wrapper {
  display: flex;
  flex-direction: column;
  place-items: center;
  flex: 3;
  background-color: black;
  overflow: hidden;
}

#visualizer {
  flex: auto;
  background-color: pink;
}

#visual-controls {
  flex: 0.05;
  place-content: center;
  display: flex;
  /* height: min-content; */
  overflow: hidden;
}

.visual-controls-closed {
  opacity: 0;
}

#UI {
  flex: 2;
  padding: 0.5rem;
}

#controls-wrapper {
  display: flex;
  place-items: center;
  place-content: center;
  justify-content: space-evenly;
  flex: auto;
}

#play-button {
  padding: 2rem;
  aspect-ratio: 1;
  border-radius: 20rem;
}

/* #wavesurfer_WRAPPER {
} */
